<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
      <span style="background-color:#FFF176; padding: 12px; border-radius: 5px;">
          <b style="color: black;">CURRENT DIRECTORY DETAILS</b>
        </span>
        <br><br>  
    <hr>
    <mat-dialog-content>
      <form (submit) = "onEdit(directory.$key)">
        <br>
        <div class="row">
          <mat-form-field style="width: 50%;" class="col">
            <mat-select placeholder="CATEGORY" [(ngModel)]="newCategory" name = "newCategory"[formControl]="categoryControl" required>
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="categoryControl.hasError('required')">Category is required.</mat-error>
          </mat-form-field>
    
          <mat-form-field style="width: 50%;" class="col">
            <input
            matInput
            [(ngModel)] = "newDirectoryName" 
            name="newDirectoryName"
            type="textt"
            placeholder="DIRECTORY NAME"
            value = "{{ this.newDirectoryName }}"
            required>
            <mat-error>Directory name is required.</mat-error>
          </mat-form-field>
        </div>
    
        <div class="row">
          <mat-form-field style="width: 100%;" class="col">
            <input
            matInput
            [(ngModel)] = "newAddress" 
            name="newAddress"
            type="textt"
            placeholder="ADDRESS"
            value = "{{ this.newAddress }}"
            required>
            <mat-error>Address is required.</mat-error>
          </mat-form-field>
        </div>
          
        <div class="row">
          <mat-form-field style="width: 50%;" class="col">
            <input
            matInput
            [(ngModel)] = "newContactNumber" 
            name="newContactNumber"
            type="textt"
            placeholder="CONTACT NUMBER"
            value = "{{ this.newContactNumer }}"
            required>
            <mat-error>Contact number is required.</mat-error>
          </mat-form-field>
    
          <mat-form-field style="width: 50%;" class="col">
            <input
            matInput
            [(ngModel)] = "newOperatingHours" 
            name="newOperatingHours"
            type="textt"
            placeholder="OPERATING HOURS"
            value = "{{ this.newOperatingHours }}"
            required>
            <mat-error>Operating hours is required.</mat-error>
          </mat-form-field>
        </div>
    
        <div class="row">
          <mat-form-field style="width: 100%;" class="col">
            <textarea 
            matInput 
            [(ngModel)] = "newOtherInformation" 
            name="newOtherInformation"
            placeholder="OTHER INFORMATION"
            value = "{{ this.newOtherInformation }}"
            matTextareaAutosize 
            matAutosizeMinRows="1"
            matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
    
        <mat-dialog-actions fixed>
          <span style="margin-left: 68%;">
            <input
             mat-raised-button
             class="black hoverable btn small"            
             type="submit"
             name="submit"
             value="SAVE" > &nbsp;
            <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </span>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
    
  </body>