<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
      <span style="background-color:#FFF176; padding: 12px; border-radius: 5px;">
          <b style="color: black;">CURRENT DIRECTORY DETAILS</b>
        </span>
        <br><br>  
    <hr>
    <mat-dialog-content>
      <form (submit) = "onEdit(directory.$key)">

        <div>
            <span style="font-size:small; margin-right:302px;"><b>CATEGORY</b></span>
            <span style="font-size:small;"><b>DIRECTORY NAME</b></span>
            <br>
            <input 
            style="width: 48%; margin-right:13px;"
            type="textt" 
            ng-model = "newCategory"
            placeholder="{{ directory.category }}"
            name="newCategory"  >

            <input 
            style="width: 49%; margin:0px;"
            type="textt" 
            [(ngModel)] = "newDirectoryName"
            name= "newDirectoryName" 
            placeholder = "{{ directory.directoryName }}" >
            
        </div>
        <br>
        <div>
            <span style="font-size:small;"><b>ADDRESS</b></span>
            <br>
            <input 
            style="width: 99%; margin:0px;"
            type="textt" 
            [(ngModel)] = "newAddress"
            name= "newAddress" 
            placeholder = "{{ directory.address }}" >       
        </div>
        <br>
        <div>
            <span style="font-size:small; margin-right:250px;"><b>CONTACT NUMBER</b></span>
            <span style="font-size:small;"><b>OPERATING HOURS</b></span>
            <br>
            <input 
            style="width: 48%; margin-right:13px;"
            type="textt" 
            ng-model = "newContactNumber"
            placeholder="{{ directory.contactNumber }}"
            name="newContactNumber"  >

            <input 
            style="width: 49%; margin:0px;"
            type="textt" 
            [(ngModel)] = "newOperatingHours"
            name= "newOperatingHours" 
            placeholder = "{{ directory.operatingHours }}" >
        </div>
        <br>
        <div class="row">
          <span style="font-size:small;"><b>OTHER INFORMATION</b></span>
          <textarea
           rows="5"
           cols="50"
           style="width: 99%; margin:0px;"
           [(ngModel)] = "newOtherInformation"
           name="newOtherInformation"
           placeholder= "{{ directory.otherInformation }}">
          </textarea>    
        </div>

        <select
        name="newCategory"
        [(ngModel)]= "newCategory">
          <option value="Medical">Medical</option>
          <option value="Medical">Fire</option>
        </select>

            
 
    
        <mat-dialog-actions fixed>
          <div>
            <input
             mat-raised-button
             class="black hoverable btn small"            
             type="submit"
             name="submit"
             value="edit" > &nbsp;
            <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </div>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
    
  </body>