<div class="row" >
  <span style="border: solid 2px black;">

  </span>
    <span class="form-group col" style="width: 50%; margin-top: 14px;">
        <input 
        style="margin-bottom:2px;"
        placeholder="Search for a location" 
        autocorrect="off" autocapitalize="off" 
        spellcheck="off" type="text" class="form-control" 
        #search [formControl]="searchControl">
    </span>

      <span class="container col" style="width: 50%;">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Directions</div>
              <div class="collapsible-body">
                  <i class="material-icons green-text small">location_on</i>
                  <span class="form-group">
                      <input 
                      style="margin-bottom:2px; margin-left: 5px;"
                      placeholder="   Input origin" 
                      autocorrect="off" autocapitalize="off" 
                      spellcheck="off" type="text" class="form-control" 
                      #origin [formControl]="originControl">
                  </span>
                  <br> <br>
                  <span class="form-group">
                      <i class="material-icons red-text small">location_on</i>
                      <input 
                      style="margin-bottom:2px; margin-left: 5px; "
                      placeholder="  Input destination" 
                      autocorrect="off" autocapitalize="off" 
                      spellcheck="off" type="text" class="form-control" 
                      #destination [formControl]="destinationControl">
                    </span>

              </div>
            </li>
          </ul>
        </span>

</div>


