<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper yellow lighten-2">
      <!--
      <img 
      style="padding-top: 5px;"
      width="100px"
      height="55px"
      src="https://firebasestorage.googleapis.com/v0/b/dagit-f9140.appspot.com/o/logoWeb.png?alt=media&token=b3a59cfc-a110-46ea-b85d-9639fc942e27">
      -->
      <a class="brand-logo black-text ">&nbsp; <b>DAGIT</b></a>
    
      <ul class="right hide-on-med-and-down">
        <li>      
          <a [routerLink] = "['/map']" class="black-text text-black">
            <i class="medium material-icons left">map</i> MAP
          </a>
        </li>

        <li>
            <a [routerLink] = "['/information']" class="black-text text-black">
              <i class="medium material-icons left">info</i>INFORMATION</a>
        </li>

        <li>
          <a [routerLink] = "['/directory']" class="black-text text-black">
            <i class="medium material-icons left">explore</i>DIRECTORY</a>

        </li>

        <li>
          <a [routerLink] = "['/manage-accounts']" class="black-text text-black">
            <i class="medium material-icons left">supervisor_account</i>MANAGE ACCOUNTS</a>
        </li>

        <li>
          <a [routerLink] = "['/helpdesk']" class="black-text text-black">
            <i class="medium material-icons left">help</i>HELPDESK</a>
        </li>


        <li>
            <a [routerLink] = "['/notifications']" class="black-text text-black">
            <i class="medium material-icons left">notifications</i>NOTIFICATIONS</a>
          </li>

        <li>
          <a [routerLink] = "['/logout']" class="black-text text-black">
          <i class="medium material-icons left">lock</i>LOGOUT</a>
        </li>

      </ul>
      

      </div>
  </nav>
</div>


  