<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
    
    <h2 mat-dialog-title><i class="material-icons orange-text medium">local_taxi</i>PUBLISH PARKING ADVISORY</h2>
    <hr>
    <br>
    <mat-dialog-content>
      <form (submit)="rateParking()">
  
          <div class="row">
            <mat-form-field style="width: 50%;" class="col">
              <mat-select placeholder="RATING" [(ngModel)]="rating" name = "rating" [formControl]="categoryControl" required>
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="categoryControl.hasError('required')">Rating is required.</mat-error>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field style="width: 100%;" class="col">
                <input
                matInput
                [(ngModel)] = "loc" 
                name="loc"
                type="textt"
                placeholder="LOCATION"
                required
                class="form-control"
                #location [formControl]="locationControl">
                <mat-error>Location is required.</mat-error>
            </mat-form-field>
          </div>
        
        <mat-dialog-actions>
          <span style="margin-left: 65%;">
              <input
              mat-raised-button
              class="black hoverable btn small"
              type="submit"
              name="submit"
              value="PUBLISH" > &nbsp;
              <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </span>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
  
    
  </body>