<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
                 
</head>

<body>
    <span style="background-color:#FFF176; padding: 12px; border-radius: 5px;">
        <b style="color: black;">CURRENT INFORMATION DETAILS</b>
      </span>
      <br><br>  
  <hr>
  <mat-dialog-content>
    <form (submit) = "onEdit(information.$key)">
      <br>
      <div class="row"> 
        <mat-form-field style="width: 100%;" class="col">
          <input
          matInput
          [(ngModel)] = "newTitle" 
          name="newTitle"
          type="textt"
          placeholder="TITLE"
          value = "{{ this.newTitle }}"
          required>
          <mat-error>Title name is required.</mat-error>
        </mat-form-field>
      </div>
  
      <div class="row">
        <mat-form-field style="width: 100%;" class="col">
          <input
          matInput
          [(ngModel)] = "newBody" 
          name="newBody"
          type="textt"
          placeholder="BODY"
          value = "{{ this.newBody }}"
          required>
          <mat-error>Content is required.</mat-error>
        </mat-form-field>
      </div>
        
               
  
      <mat-dialog-actions fixed>
        <span style="margin-left: 68%;">
          <input
           mat-raised-button
           class="black hoverable btn small"            
           type="submit"
           name="submit"
           value="EDIT" > &nbsp;
          <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
        </span>
        <br>
        <br>
        <br>
      </mat-dialog-actions>
    </form>  
  </mat-dialog-content>
  
</body>