<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
      <span style="background-color:#FFF176; padding: 12px; border-radius: 5px;">
          <b style="color: black;">CURRENT ACCOUNT DETAILS</b>
        </span>
        <br><br>
    <hr>
    <br>
    <mat-dialog-content>
      <form (submit) = "onEditOnfield(accountOF.$key, accountOF)">
          <div class="row">  
              <mat-form-field style="width: 50%;" class="col">
                <input
                matInput
                [(ngModel)] = "newFName" 
                name="newFName"
                type="textt"
                placeholder="FIRST NAME"
                value = "{{ this.newFName }}"
                required>
                <mat-error>First name is required.</mat-error>
              </mat-form-field>
    
              <mat-form-field style="width: 50%;" class="col">
                <input
                matInput
                [(ngModel)] = "newLName" 
                name="newLName"
                type="textt"
                placeholder="LAST NAME"
                value = "{{ this.newLName }}"
                required>
                <mat-error>Last name is required.</mat-error>
              </mat-form-field>
            </div>
    
            <div class="row">  
                        
              <mat-form-field style="width: 50%;" class="col">
                <input
                matInput
                [(ngModel)] = "newPassword" 
                name="newPassword"
                type="textt"
                placeholder="PASSWORD"
                value = "{{ this.newPassword }}"
                required>
                <mat-error>Password is required.</mat-error>
              </mat-form-field>

              <mat-form-field style="width: 50%;" class="col">
                  <input
                  matInput
                  [(ngModel)] = "newLocation" 
                  name="newLocation"
                  type="textt"
                  placeholder="LOCATION"
                  value = "{{ this.newLocation }}"
                  required>
                  <mat-error>Location is required.</mat-error>
                </mat-form-field>
            </div>
        
        
      
        <mat-dialog-actions>
          <span style="margin-left: 68%;">
              <input
              mat-raised-button
              class="black hoverable btn small"            
              type="submit"
              name="submit"
              value="edit" > &nbsp;
              <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </span>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
    
  </body>