<app-navbar></app-navbar>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    
    <div class="row" id="container">
      <div class="col">
         <a [routerLink] = "['/messages']" class="black-text text-black">
        <div class="col hoverable" id="messages">
            <i class="large material-icons" id="messagesIcon">question_answer</i>
            <b style="padding-left: 30px;"> USER MESSAGES</b>
        </div>
        </a>
      </div>
            

      <div class="col" style="padding-left:3%;">
        <a [routerLink] = "['/accident-reports']" class="black-text text-black">  
          <div class="col hoverable" id="areports">
            <i class="large material-icons" id="areportsIcon">report</i>
            <b  style="padding-left: 20px;"> ACCIDENT REPORTS </b><br>
          </div>
        </a>  
      </div>

      <div class="col" style="padding-left:3%;">
        <a [routerLink] = "['/pedicab-reports']" class="black-text text-black">  
          <div class="col hoverable" id="pedicab">
            <i class="large material-icons" id="pedicabIcon">motorcycle</i>
            <b  style="padding-left: 38px;"> MCH REPORTS </b><br>
          </div>
        </a>  
      </div>

      <div class="col" style="padding-left:3%;">
        <a [routerLink] = "['/violation-reports']" class="black-text text-black">  
          <div class="col hoverable" id="vreports">
            <i class="large material-icons" id="vreportsIcon">pan_tool</i>
            <b style="padding-left: 20px;"> VIOLATION REPORTS </b>
          </div>
        </a>
      </div>
      

    </div>
  </body>


