<app-navbar></app-navbar>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
     
    <br>
    <div class= "container">
     
      <!-- Traffic Advisory -->
         <i class="medium material-icons left red-text text-darken-2">traffic</i>
         <b style="font-size: 40px;">TRAFFIC ADVISORY</b><br>
         <!--loop data in database -->
         <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
            <li *ngFor = "let notification of notifications | async">
              <div class="collapsible-header" *ngIf = "notification.category == 'Traffic'">
               <span style="width: 300px;">{{ notification.notifDetail }} </span>
               <span style="width: 250px;">{{ notification.timeStamp }}</span>
               <span>Published by: {{notification.fName + ' ' + notification.lName}}</span>
              </div>
            </li>       
          </ul><br>

      <!-- Parking Advisory -->
        <i class="medium material-icons left orange-text text-darken-2">local_taxi</i>
        <b style="font-size: 40px;">PARKING ADVISORY</b><br>
        <!--loop data in database -->

       <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
          <li *ngFor = "let notification of notifications | async">
              <div class="collapsible-header" *ngIf = "notification.category == 'Parking'">
                  <span style="width: 300px;">{{ notification.notifDetail }} </span>
                  <span style="width: 250px;">{{ notification.timeStamp }}</span>
                  <span>Published by: {{notification.fName + ' ' + notification.lName}}</span>
              </div>
          </li>       
        </ul><br>

      <!--Announcements -->
        <i class="medium material-icons left light-blue-text">description</i>
        <b style="font-size: 40px;">ANNOUNCEMENTS</b><br>
       <!--loop data in database -->

       <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
          <li *ngFor = "let notification of notifications | async">
              <div class="collapsible-header" *ngIf = "notification.category == 'Announcement'">
                  <span style="width: 300px;">{{ notification.title }} </span>
                  <span style="width: 250px;">{{ notification.timeStamp }}</span>
                  <span>Published by: {{notification.fName + ' ' + notification.lName}}</span>
                 </div>
            <div class="collapsible-body">
              <span>ANNOUNCEMENT DETAILS: </span> <br>
              <span>{{ notification.notifDetail }}</span>
            </div>
          </li>       
        </ul><br>
  
    </div>
       <!-- fixed button -->
       <div class="fixed-action-btn">
          <a class="btn-floating btn-large yellow darken-1 hoverable">
            <i class="large material-icons black-text">add_alert</i>
          </a>
          <ul>
              <li>
                  <a materialize="tooltip"
                  class="btn-floating green tooltipped"
                  data-position="left"
                  data-delay="30"
                  data-tooltip="Search notification"
                  (click) = "openSearch()">
                  <i class="material-icons">search</i>
                </a>
              </li>
              <li>
                  <a materialize="tooltip"
                  class="btn-floating light-blue-text tooltipped"
                  data-position="left"
                  data-delay="30"
                  data-tooltip="Publish announcement"
                  (click) = "addAnnouncement()">
                  <i class="material-icons">description</i>
                </a>
              </li>
              <li>
                <a materialize="tooltip"
                class="btn-floating red tooltipped"
                data-position="left"
                data-delay="30"
                data-tooltip="Add traffic advisory"
                (click) = "addTraffic()">
                <i class="material-icons">traffic</i>
              </a>
              </li>
              <li>
                  <a materialize="tooltip"
                  class="btn-floating orange tooltipped"
                  data-position="left"
                  data-delay="30"
                  data-tooltip="Add parking advisory"
                  (click) = "addParking()">
                  <i class="material-icons">local_taxi</i>
                </a>
                </li>
          </ul>
        </div>
        <br><br>
</body>



