<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
                 
</head>

<body>
  
  <h2 mat-dialog-title><i class="material-icons blue-text medium">description</i>PUBLISH AN ANNOUNCEMENT</h2>
  <hr>
  <br>
  <mat-dialog-content>
    <form (submit)="onAdd()">

        <div class="row">
            <mat-form-field style="width: 100%;" class="col">
              <input
              matInput 
              type="textt"
              [(ngModel)] = "title" 
              name="title"
              placeholder="ANNOUNCEMENT TITLE"
              matTextareaAutosize 
              matAutosizeMinRows="1"
              matAutosizeMaxRows="5"
              required>         
            <mat-error>Title is required.</mat-error>
            </mat-form-field>
          </div>

        <div class="row">
          <mat-form-field style="width: 100%;" class="col">
            <textarea 
            matInput 
            [(ngModel)] = "description" 
            name="description"
            placeholder="DESCRIPTION"
            matTextareaAutosize 
            matAutosizeMinRows="1"
            matAutosizeMaxRows="5"
            required>
          </textarea>
          <mat-error>Description is required.</mat-error>
          </mat-form-field>
        </div>
      
      <mat-dialog-actions>
        <div>
            <input
            mat-raised-button
            class="black hoverable btn small"
            type="submit"
            name="submit"
            value="PUBLISH" > &nbsp;
            <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
        </div>
        <br>
        <br>
        <br>
      </mat-dialog-actions>
    </form>  
  </mat-dialog-content>

  
</body>