<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
    
    <h2 mat-dialog-title><i class="material-icons red-text medium">email</i>SEARCH BY DESK TMO EMAIL</h2>
    <hr>
    <br>
    <mat-dialog-content>
      <div></div>
      <form>
          <div class="row">
            
            <mat-form-field style="width: 100%;" class="col">
              <input
              matInput
              [(ngModel)] = "searchValue" 
              name="searchValue"
              type="textt"
              placeholder="SEARCH FOR AN EMAIL"
              required>
              <mat-error>Please input a search value.</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf = "found == true">
            <span>Account Found</span>
            <div><b>Email:</b> {{ result.emailAddress }}</div>
            <div><b>Name:</b> {{ result.fName + ' ' + result.lName }}</div>
          </div>
          <div *ngIf = "found == false">
            <span>Account Not Found</span>
          </div>
          
        <mat-dialog-actions>
          <div>
              <button mat-raised-button class="black hoverable btn small" (click) = "onSearch()">SEARCH</button>
              <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </div>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
    
  </body>