<app-navbar></app-navbar>
<div class="form-group">
    <input 
    style="margin-bottom:2px;"
    placeholder="   Search for a location" 
    autocorrect="off" autocapitalize="off" 
    spellcheck="off" type="text" class="form-control" 
    #search [formControl]="searchControl">
</div>
<div *ngIf="latitude && longitude">
    
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">

        <agm-marker [latitude]="latitude" [longitude]="longitude">
          <!--
          <agm-info-window>
            <h6> <strong>HEY!</strong> </h6>
              <p>{{ this.place }}</p>   
          </agm-info-window>
          -->
        </agm-marker>
    
     
      </agm-map>

</div>


