<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
                   
  </head>
  
  <body>
    
    <h2 mat-dialog-title><i class="material-icons green-text medium">search</i>SEARCH ACCOUNTS</h2>
    <hr>
    <br>
    <mat-dialog-content>
      <div></div>
      <form>
          <div class="row">
            <mat-form-field style="width: 50%;" class="col">
              <mat-select placeholder="CATEGORY" [(ngModel)]="category" name = "category"[formControl]="categoryControl" required>
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{category.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="categoryControl.hasError('required')">Category is required.</mat-error>
            </mat-form-field>
      
            <mat-form-field style="width: 50%;" class="col">
              <input
              matInput
              [(ngModel)] = "searchValue" 
              name="searchValue"
              type="textt"
              placeholder="SEARCH LAST NAME"
              required>
              <mat-error>Please input a search value.</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf = "found == true" style="margin: 10px;">
            <h5 style="color: green;">Account Found</h5>
            <div *ngFor = "let users of result" style="font-size: large;">
              <div>
                <b>Name:</b> {{ users.fName + ' ' + users.lName }}
              </div>
              <div *ngIf="users.username != null">
                <b>Username:</b> {{ users.username }}
              </div>
              <div *ngIf="users.emailAddress != null">
              <b>Email Address:</b> {{ users.emailAddress }}
              </div>
              <div *ngIf="users.location != null">
                <b>Location:</b> {{ users.location }}
              </div>
              <div *ngIf="users.timeShift != null">
                <b>Timeshift:</b> {{ users.timeShift }}
              </div>
              <br>
          </div>         
        </div>
          <div *ngIf = "found == false">
            <h5 style="color: red;">Account Not Found</h5>
          </div>
          
        <mat-dialog-actions>
          <span style="margin-left: 65%;">
              <button mat-raised-button class="black hoverable btn small" (click) = "onSearch()">SEARCH</button>
              <button mat-raised-button class="black hoverable btn small" (click) = "onCancel()">CANCEL</button>
          </span>
          <br>
          <br>
          <br>
        </mat-dialog-actions>
      </form>  
    </mat-dialog-content>
    
  </body>