<app-navbar></app-navbar>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    
    <br><br>
    <div class= "container">
     
      <div>
          <i class="medium material-icons left red-text">recent_actors</i>
          <b style="font-size: 40px;">DESK TMO ACCOUNTS</b><br>
        <!--loop data in database -->
       <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
          <li *ngFor = "let accountD of deskTMO | async">
            <div class="collapsible-header" >
              {{accountD.fName + ' ' + accountD.lName }}
            </div>
            <div class="collapsible-body">
              <div class="row">
                  <div class="col" style="width: 50%;">
                      <div style="width: 50%;" class="col">
                         <!--<img style="width:100%;" class="thumbnail" src="{{imageURL}}"> -->
                         IMAGE HERE
                         <!--
                        <br>
                        <div style="width: 50%;" class="fileUpload btn black hoverable">
                            <i class="medium material-icons">add_a_photo</i>
                            <input
                             type="file" 
                             class="upload"
                             id="image"
                             [(ngModel)]="image"
                             name="image" />
                        </div>  -->               
                      </div>
                  </div>
                <div class="col" style="width: 50%;">
                 <b>Email Address: </b> {{ accountD.emailAddress }}<br>
                 <b>Password: </b> {{ accountD.password }}
                </div>
              </div>

              <br><br>
              <div class="center">
                <!--
                  <i class="small material-icons">create</i>&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="small material-icons">delete</i>&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="small material-icons">add_a_photo</i>&nbsp;&nbsp;&nbsp;&nbsp;
                -->
                
                 <a (click) ="onEditDesk(accountD)" class="black hoverable btn small">EDIT</a>
                 &nbsp;
                 <a (click) = "onDeleteDesk(accountD.$key)" class="black hoverable btn small">DELETE</a>
                 &nbsp;
                 <a class="black hoverable btn small">DISABLE</a>
                 &nbsp;
                 <div (click)="uploadDesk(accountD.$key)" class="fileUpload black hoverable btn small">EDIT IMAGE
                  <input
                  type="file" 
                  id="image"
                  [(ngModel)]="image"
                  name="image" />
                 </div>
              </div>       

            </div>
          </li>
        </ul>

      </div>
      <br>
      <br>

      <div>
          <i class="medium material-icons left orange-text">person_pin_circle</i>
          <b style="font-size: 40px;">ON-FIELD TMO ACCOUNTS</b><br>
        <!--loop data in database -->
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
            <li *ngFor = "let accountOF of onFieldTMO | async">
              <div class="collapsible-header" >
                <span style="width: 590px;"class="col">{{accountOF.fName + ' ' + accountOF.lName }} </span>
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col" style="width: 50%;">
                      <div style="width: 50%; background-color:black; height: 50%;" class="col">
                         <!--<img style="width:100%;" class="thumbnail" src="{{imageURL}}"> -->
                         IMAGE HERE
                        <br>
                        <label>
                          <input type="file" class="button" (change)="detectFiles($event)">
                        </label>
                        <button class="btn grey lighten-2 hoverable small"
                          (click)="uploadSingle()">
                          Upload Image
                        </button>
                        <!--
                        <div style="width: 50%;" class="fileUpload btn black hoverable">
                            <i class="medium material-icons">add_a_photo</i>
                            <input
                             type="file" 
                             class="upload"
                             id="image"
                             [(ngModel)]="image"
                             name="image" />
                        </div>     -->            
                      </div>
                  </div>
                  <div class="col" style="width: 50%;">
                   <b>Username:</b> {{ accountOF.username }}<br>
                   <b>Password: </b> {{ accountOF.password }}<br>
                   <b>Assigned Location: </b> {{ accountOF.location }}
                  </div>
               
                </div>
  
                <br><br>
                <div class="center">
                   <a (click) ="onEditOnfield(accountOF)" class="black hoverable btn small">EDIT</a>
                   &nbsp;
                   <a (click) = "onDeleteOnfield(accountOF.$key)" class="black hoverable btn small">DELETE</a>
                   &nbsp;
                  
                   <!--<a class="black hoverable btn small">DISABLE</a>-->
                </div>       
  
              </div>
            </li>
          </ul>

      </div>

      
    </div> <!-- end of container -->
 
    
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large yellow darken-1 hoverable">
          <i class="large material-icons black-text">person_add</i>
        </a>
        <ul>
            <li>
                <a materialize="tooltip"
                class="btn-floating green modal-trigger tooltipped" 
                data-position="left"
                data-delay="30"
                data-tooltip="Search account"
                (click) = "openSearch()">
                <i class="material-icons">search</i></a>
              </li>
        
          <li>
            <a materialize="tooltip"
            class="btn-floating red modal-trigger tooltipped" 
            data-position="left"
            data-delay="30"
            data-tooltip="Add desk TMO"
            (click) = "openDialog1()">
            <i class="material-icons">recent_actors</i></a>
          </li>
          <li>
            <a materialize="tooltip"
            class="btn-floating orange modal-trigger tooltipped" 
            data-position="left"
            data-delay="30"
            data-tooltip="Add on-field TMO"
            (click) = "openDialog2()">
            <i class="material-icons">person_pin_circle</i></a>
          </li>
        </ul>
      </div>
<br><br>

   
  </body>



